---
services:
  patroni-master:
    image: nkonev/patroni:latest
    pull_policy: missing
    container_name: patroni-master
    restart: unless-stopped
    environment:
      PATRONI_POSTGRESQL_PASSWORD: patroni_password
      PATRONI_REPLICATION_PASSWORD: replication_password
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      REDMINE_DB_NAME: redmine_db
      REDMINE_DB_USER: redmine
      REDMINE_DB_PASSWORD: redminepassword
      PATRONI_LISTEN: 0.0.0.0:5432
      PATRONI_RESTAPI_LISTEN: 0.0.0.0:8008
      PATRONI_ROLE: master
      PATRONI_CONSUL_HOST: consul
      PATRONI_CONSUL_PORT: 8500
      PATRONI_CONSUL_SERVICE_NAME: postgresql-service
      PATRONI_CONSUL_TAGS: master
    volumes:
      - redmine_data_master:/var/lib/postgresql/data
      - ./init_db.sh:/docker-entrypoint-initdb.d/init_db.sh
    ports:
      - "5432:5432"
    networks:
      - patroni_net
    depends_on:
      - consul

  patroni-slave:
    image: nkonev/patroni:latest
    pull_policy: missing
    container_name: patroni-slave
    restart: unless-stopped
    environment:
      PATRONI_POSTGRESQL_PASSWORD: patroni_password
      PATRONI_REPLICATION_PASSWORD: replication_password
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
      REDMINE_DB_NAME: redmine_db
      REDMINE_DB_USER: redmine
      REDMINE_DB_PASSWORD: redminepassword
      PATRONI_LISTEN: 0.0.0.0:5433
      PATRONI_RESTAPI_LISTEN: 0.0.0.0:8009
      PATRONI_ROLE: replica
      PATRONI_CONSUL_HOST: consul
      PATRONI_CONSUL_PORT: 8500
      PATRONI_CONSUL_SERVICE_NAME: postgresql-service
      PATRONI_CONSUL_TAGS: replica
    volumes:
      - redmine_data_slave:/var/lib/postgresql/data
      - ./init_db.sh:/docker-entrypoint-initdb.d/init_db.sh
    ports:
      - "5433:5433"
    networks:
      - patroni_net
    depends_on:
      - consul

  consul:
    image: hashicorp/consul:latest
    pull_policy: missing
    container_name: consul
    restart: unless-stopped
    environment:
      CONSUL_BIND_INTERFACE: eth0
    ports:
      - "8500:8500"
    networks:
      - patroni_net

  redmine:
    image: redmine:latest
    pull_policy: missing
    container_name: redmine
    restart: unless-stopped
    environment:
      REDMINE_DB_HOST: postgresql-service
      REDMINE_DB_NAME: redmine_db
      REDMINE_DB_USER: redmine
      REDMINE_DB_PASSWORD: redminepassword
    ports:
      - "3000:3000"
    networks:
      - patroni_net
    depends_on:
      - patroni-master

networks:
  patroni_net:
    driver: bridge

volumes:
  redmine_data_master:
  redmine_data_slave:
